.map, .map > div {
    width: 250px;
    height: 200px;
}

th, td {
    text-align: center !important;
    vertical-align: middle !important;
}

svg {
    height: 150px;
}

.input-group {
    margin: 25px 0;
}